{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/base",
    "plugin:vue/vue3-recommended",
    "prettier"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "vue/multi-word-component-names": "off",
    "no-console": "off",
    "no-debugger": "off",
    "vue/no-v-html": "off",
    "vue/space-before-function-parens": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "arrow-parens": "off",
    "@typescript-eslint/no-empty-function": "off",
    "vue/html-indent": "off",
    "vue/html-closing-bracket-newline": "off",
    "vue/max-attributes-per-line": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/multiline-html-element-content-newline": "off",
    "comma-dangle": "off",
    "vue/html-self-closing": "off",
    "prefer-const": "warn",
    "no-undef": "off"
  }
}