services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: memorandum
    restart: unless-stopped
    ports:
      - "${APP_PORT}:3000"
    deploy:
      resources:
        limits:
          memory: 512m
