@import url('./css/markdown.css');
@import url('./css/night-owl.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Handlee;
  src: url('/assets/fonts/Handlee-Regular.ttf');
}
@font-face {
  font-family: FiraCode;
  src: url('/assets/fonts/FiraCode-Regular.ttf');
}

.prettyprint {
  @apply relative;
}
.copy-code-button {
  @apply absolute z-10 bottom-1 right-1 hover:bg-gray-700 p-1 rounded-md border border-gray-700 bg-gray-800 bg-opacity-60 opacity-0 transition duration-75;
}
pre:hover .copy-code-button {
  @apply opacity-100;
}

pre {
  @apply scrollbar-thin !overflow-hidden !p-0;
}
code {
  @apply before:!content-[] after:!content-[] bg-gray-800 p-0.5 rounded-md;
}
pre code {
  @apply before:!content-[] after:!content-[] bg-gray-800 !p-3 rounded-md scrollbar-thin overflow-auto w-full block;
}
.table-of-contents {
  @apply hidden;
}
.toc {
  @apply space-y-2;
}
.toc ul {
  @apply pl-6 mt-1;
}
.toc a {
  @apply block rounded-md px-2 py-1 my-1 w-max bg-transparent;
}
.toc .active a {
  @apply bg-gray-800;
}

pre code {
  @apply max-h-[45rem];
}
pre .filename {
  @apply absolute top-0 right-0 text-xs m-1 bg-gray-700 bg-opacity-50 p-1 rounded-md;
}

.line-number {
  @apply mr-3;
}

h1,
h2,
h3,
h4,
h5 {
  @apply !block w-max;
}

::-webkit-scrollbar {
  @apply w-2 h-2 bg-gray-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  @apply bg-gray-700;
}

.prose a {
  @apply font-semibold;
}
.prose a {
  @apply inline-block !underline underline-offset-4 transition-colors duration-200 !text-primary-400 hover:!text-primary-700;
}
.prose a:hover {
  background-size: 100% 2px;
}

.prose img {
  @apply !rounded-md px-20;
}
