.text-center {
    text-align: center;
}

.cover-img {
    max-width: 100%;
    object-fit: cover;
    height: 20rem;
}

.word-wraping {
    text-align: justify !important;
    -webkit-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}

pre {
    min-height: 1.6rem;
}