// placeholder for test, dont't remove it.

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


.sidebar-heading {
  opacity 1 !important
  @apply cursor-pointer !important;
  &:hover {
    @apply text-green-600 !important
  }
}
