// placeholder for test, dont't remove it.

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

.code-copy {
  position: absolute;
  top: 60%;
  right: 0.5rem;
  transform: translateY(-60%);
}

.word-wraping {
  text-align: justify !important;
  -webkit-hyphens: auto !important;
  -moz-hyphens: auto !important;
  -ms-hyphens: auto !important;
  hyphens: auto !important;
}

pre {
  min-height: 1rem;
  code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}


.sidebar-heading {
  opacity 1 !important
  @apply cursor-pointer !important;
  &:hover {
    @apply text-green-600 !important
  }
}
