/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';

.prose {
  --prism-font-family: 'DM Mono', monospace;
}

.prose img {
  width: 100%;
}

html .prose {
  --prism-foreground: #d4cfbf;
  --prism-background: #151515;

  --prism-literal: #429988;
  --prism-decorator: #bd8f8f;
  --prism-json-property: rgb(128, 203, 196);
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #444444;
  --prism-selection-background: #444444;

  --prism-comment: rgb(99, 119, 119);
  --prism-prolog: rgb(99, 119, 119);
  --prism-cdata: rgb(99, 119, 119);

  --prism-string: rgb(173, 219, 103);
  --prism-url: rgb(173, 219, 103);
  --prism-entity: rgb(173, 219, 103);

  --prism-punctuation: rgb(199, 146, 234);
  --prism-namespace: rgb(178, 204, 214);

  --prism-deleted: rgba(239, 83, 80, 0.56);

  --prism-symbol: rgb(128, 203, 196);
  --prism-property: rgb(128, 203, 196);

  --prism-tag: rgb(127, 219, 202);
  --prism-operator: rgb(127, 219, 202);
  --prism-keyword: rgb(199, 146, 234);

  --prism-boolean: rgb(255, 88, 116);

  --prism-number: rgb(247, 140, 108);

  --prism-constant: rgb(130, 170, 255);
  --prism-function: rgb(130, 170, 255);
  --prism-builtin: rgb(130, 170, 255);
  --prism-char: rgb(130, 170, 255);

  --prism-selector: rgb(199, 146, 234);
  --prism-doctype: rgb(199, 146, 234);

  --prism-attr-name: rgb(173, 219, 103);
  --prism-inserted: rgb(173, 219, 103);

  --prism-class-name: rgb(255, 203, 139);
  --prism-class: rgb(255, 203, 139);
  --prism-atrule: rgb(255, 203, 139);
  --prism-attr-value: rgb(255, 203, 139);

  --prism-regex: rgb(214, 222, 235);
  --prism-important: rgb(214, 222, 235);
  --prism-variable: rgb(214, 222, 235);
}

pre .token .interpolation {
  color: var(--prism-constant);
}

pre .comment,
.prolog,
.cdata,
.deleted,
.italic,
.selector .doctype,
.attr-name,
.inserted {
  font-style: italic;
}

pre .important,
.bold {
  font-weight: bold;
}

kbd {
  @apply bg-gray-800 px-2 py-1 rounded-md shadow;
}

code {
  @apply before:!content-[''] after:!content-[''] bg-gray-800 p-1 rounded-md;
}

pre {
  @apply relative !bg-gray-800 !overflow-hidden !p-0;
}
pre code {
  @apply !w-full overflow-auto !px-4 !py-5 block;
}

pre:hover .m-mdic-copy-wrapper button {
  @apply opacity-100;
}
pre .m-mdic-copy-wrapper button {
  @apply opacity-0 transition-opacity duration-75;
}

.named-fence-filename {
  @apply absolute right-1 top-1 bg-gray-900 px-2 py-0.5 rounded-md z-10 text-xs;
}

.m-mdic-copy-wrapper .u-mdic-copy-code_lang {
  @apply absolute top-1 right-1 bg-gray-900 px-2 py-0.5 rounded-md text-xs bg-opacity-10;
}

.m-mdic-copy-wrapper div {
  @apply absolute right-8 bottom-1 bg-gray-900 px-2 py-0.5 rounded-md hidden text-xs bg-opacity-10;
}

.m-mdic-copy-wrapper button {
  @apply absolute right-1 bottom-1 bg-gray-900 p-1 rounded-md hover:bg-gray-700 border-gray-600 transition-colors duration-75 text-sm;
}

.warning {
  background-color: rgba(146, 64, 14, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.25;
  color: rgba(254, 243, 199, var(--tw-text-opacity));
}

.info,
.see,
.tips,
.read {
  background-color: rgba(7, 89, 133, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.25;
  color: rgba(186, 230, 253, var(--tw-text-opacity));
}

.danger {
  background-color: rgba(153, 27, 27, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.25;
  color: rgba(254, 226, 226, var(--tw-text-opacity));
}

.alert p {
  @apply m-0 mb-1 text-base;
}
.alert li {
  @apply text-base;
}

.spoiler {
  @apply bg-gray-800 px-2 py-0.5 rounded-md cursor-default;
}

.spoiler,
.spoiler > * {
  @apply transition-colors duration-150;
}
.spoiler:not(:hover) {
  @apply text-transparent;
}
.spoiler:not(:hover) > * {
  @apply opacity-0;
}

input {
  @apply !bg-gray-800 !border-gray-700;
}

.container {
  @apply text-white;
}
