@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf');
}
/* @font-face {
  font-family: 'Handlee-Regular';
  src: url('../fonts/Handlee-Regular.ttf');
} */
/* @font-face {
  font-family: 'FiraCode-Regular';
  src: url('../fonts/FiraCode-Regular.ttf');
} */
