@import url('./alert.css');
/* https://github.com/antfu/prism-theme-vars */

:root {
  --shiki-color-text: rgb(214, 222, 235);
  --shiki-color-background: theme('backgroundColor.gray.800') !important;
  --shiki-token-constant: rgb(130, 170, 255);
  --shiki-token-string: rgb(173, 219, 103);
  --shiki-token-comment: rgb(99, 119, 119);
  --shiki-token-keyword: rgb(199, 146, 234);
  --shiki-token-parameter: rgb(214, 222, 235);
  --shiki-token-function: rgb(130, 170, 255);
  --shiki-token-string-expression: rgb(255, 203, 139);
  --shiki-token-punctuation: rgb(199, 146, 234);
  --shiki-token-link: rgb(214, 222, 235);
}

pre {
  @apply !bg-gray-800;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.2s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-purple-400 opacity-75 fixed z-50 top-0 left-0 w-full h-1;
}
