@import url('./markdown/alert.css');
@import url('./vue.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Text primary */

  .text-primary {
    @apply text-primary-500 dark:text-primary-500;
  }
  .text-primary-active {
    @apply text-primary-600 dark:text-primary-500;
  }
  .text-primary-hover {
    @apply hover:text-primary-600 hover:dark:text-primary-500;
  }
  .text-primary-group-hover {
    @apply group-hover:text-primary-600;
  }

  /* Text secondary */

  .text-secondary {
    @apply text-gray-500 dark:text-gray-200;
  }
  .text-secondary-hover,
  .text-secondary-active {
    @apply text-gray-700 dark:text-gray-50;
  }
  .text-secondary-group-hover {
    @apply group-hover:text-gray-600 dark:group-hover:text-gray-100;
  }

  /* Transitions */

  .transition-base {
    @apply duration-100 ease-in-out;
  }

  /* Surface */

  .surface {
    @apply bg-white dark:bg-gray-900;
  }

  .surface-secondary {
    @apply bg-gray-50 dark:bg-opacity-25 dark:bg-gray-800;
  }

  .surface-blurry {
    @apply bg-white/95 backdrop-blur dark:bg-gray-900/95;
  }

  /* Borders */

  .surface-border {
    @apply border-gray-200 dark:border-gray-800;
  }

  .surface-border-hover {
    @apply border-primary-200 dark:border-gray-700;
  }

  .surface-border-header {
    @apply border-b border-gray-200 border-opacity-50 dark:border-gray-800;
  }

  /* Icons */

  .icon-base {
    @apply text-gray-400 hover:text-gray-500 dark:text-gray-300 dark:hover:text-gray-200;
  }

  /* Code blocks */

  .code-background {
    /* background-color: var(--codeblocks-background); */
    @apply bg-gray-800;
  }

  /* Images */

  .light-img {
    @apply block dark:hidden;
  }

  .dark-img {
    @apply hidden dark:block;
  }

  /* Link */

  .link {
    @apply transition-colors hover:text-secondary-hover transition-base;
  }

  /* Scrollbar */
  .custom-scrollbar {
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track);
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0.25rem;
    }
  }
}

/* Variables */
:root {
  --header-height: theme('spacing.14');
  --footer-height: 8rem;
  --page-height: calc(
    100vh - calc(var(--header-height) + var(--footer-height))
  );
  --codeblocks-background: theme('colors.gray.900');
}

@screen sm {
  :root {
    --header-height: theme('spacing.16');
    --footer-height: 4rem;
  }
}

html {
  @apply min-h-screen overflow-x-hidden overflow-y-scroll font-sans antialiased bg-gray-900 text-white;
  scrollbar-width: thin;

  /* Scrollbar settings */
  --scrollbar-track: theme('colors.gray.200');
  --scrollbar-thumb: theme('colors.gray.300');

  &.dark {
    @apply bg-gray-900;
    --scrollbar-track: theme('colors.gray.800');
    --scrollbar-thumb: theme('colors.gray.900');
  }
}

body {
  @apply min-h-screen font-sans antialiased text-gray-700 dark:text-gray-200;
}

.docus-content {
  & > :first-child {
    margin-top: 0 !important;
  }
}

pre {
  scrollbar-width: thin;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-purple-400 opacity-75 fixed z-50 top-0 left-0 w-full h-1;
}

.prose h1,
h2,
h3 {
  content: none;
  @apply title;
  & a {
    @apply !no-underline;
  }
}
