.page-body {
  min-height: 70vh;
}
img {
  border-radius: 0.375rem;
}
.section.center {
  z-index: 250;
}

.alert .alert-content .prose-code pre code {
  background-color: transparent !important;
}

.callout .content .prose-code pre code {
  background-color: transparent !important;
}