:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #ff0000 0%,
    #ff9900 20%,
    #fffe13 40%,
    #059f2d 60%,
    #014fe8 80%,
    #9110a1 100%
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #ff0000 0%,
    #ff9900 20%,
    #fffe13 40%,
    #059f2d 60%,
    #014fe8 80%,
    #9110a1 100%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

.named-fence-block {
  position: relative;
}

.named-fence-filename {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--vp-code-lang-color);
  background-color: var(--vp-code-block-bg);
}

.is-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.VPHome {
  width: 100%;
}

.bg-color {
  fill: var(--vp-c-bg);
}

kbd {
  /* background-color: var(--vp-code-block-bg);
  color: var(--vp-code-text-color);
  border: 1px solid var(--vp-code-border-color);
  border-radius: 4px;
  padding: 0 4px; */
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-weight: 600;
  font-size: 0.5rem;
  line-height: 1rem;
  border-width: 2px;
  border-radius: 0.2rem;
  border-color: var(--vp-c-border);
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-divider);

  font-feature-settings: normal;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-size: 1em;
  font-variation-settings: normal;
}
